@use '/styles/mixins';
@use '/styles/moblie';
@use '/styles/tablet';
@use '/styles/desktop';

.toggle{
    padding: .8rem 1.2rem;
    background: var(--tertier-color);
    position: fixed;
    top: calc(var(--pos-y) + 1.6rem);
    right: 0;
    border-radius: 0 0 1.2rem 1.2rem;
    z-index: 400;

    p{
        @include mixins.fontOpts(var(--secondary-font-bold), var(--paragraf-lg), var(--secondary-color));
    }

}

.form_container{
    width: 100%;
    height: calc(100dvh - 6.4rem);
    background: var(--secondary-color);
    position: fixed;
    top: calc(var(--pos-y) + 1.2rem);
    z-index: 300;
    padding: calc(.8rem + var(--pos-y)) 2.4rem 1.2rem 2.4rem;
    @include mixins.flexDisplay(flex-start, center, column);

    .form{
        width: 100%;
        height: 50%;
        @include mixins.gridDisplay(2, 7, 2rem, 2rem);
        place-items: center;

        .input_group{
            width: 100%;
            height: 4.9rem;
            position: relative;

            .input_container{
                width: 100%;
                height: 100%;
                padding: .4rem 4.8rem;
                background: var(--primary-color);
                border-radius: 2rem;
                box-shadow: inset 0 0 15px 0 rgba($color: #000000, $alpha: .5);
                @include mixins.flexDisplay(space-around, center, row);
                cursor: pointer;

                .input{
                    width: 90%;
                    height: 100%;
                    @include mixins.fontOpts(var(--secondary-font-regular), var(--paragraf-md), var(--secondary-color));
                    text-align: center;
                    @include mixins.flexDisplay(center, center, row);
                }

                .svg_container{
                    height: 100%;
                    @include mixins.flexDisplay(center, center, row);

                    svg{
                        transform: rotate(0);
                        transition: transform .6s;

                        &.isShow{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .input_dropdown{
                width: 100%;
                transform: scaleY(0);
                transition: transform .3s;
                transform-origin: top;
                @include mixins.flexDisplay(center, center, column);
                margin-top: .8rem;
                position: absolute;
                z-index: 10;

                &.isDropdownOpen{
                    transform: scaleY(1);
                }

                .dropdown_opt{
                    width: 100%;
                    padding: .8rem 0;
                    @include mixins.fontOpts(var(--secondary-font-bold), var(--paragraf-md), var(--secondary-color));
                    background-color: var(--tertier-color);
                    @include mixins.flexDisplay(center, center, row);
                    cursor: pointer;

                    &:hover{
                        background: var(--primary-color);
                    }
                    &:focus{
                        background: var(--primary-color);
                    }
                }
            }
        }
    }
}

#properties{
    grid-area: 1/1/1/span 2;
}
#checkIn{
    grid-area: 2/1/2/span 2;
}
#checkOut{
    grid-area: 3/1/3/span 2;
}
#adultCount{
    grid-area: 4/1/4/2;
}
#childCount{
    grid-area: 4/2/4/2;
}
#refCode{
    grid-area: 5/1/5/span 2;

    input{
        text-align: center;
    }
}
#primaryCTA{
    grid-area: 6/1/6/span 2;
    margin-top: 1.6rem;
}
#resetBtn{
    grid-area: 7/1/7/span 2;
}
#checkIn,
#checkOut,
#adultCount,
#childCount,
#refCode{

    .input_container{
        padding: .4rem 1.6rem;
    }
}