@use '/styles/mixins';
@use '/styles/moblie';
@use '/styles/tablet';
@use '/styles/desktop';


.container{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding-block: 1.6rem;
    background: var(--secondary-color);
    @include mixins.flexDisplay(center, center, row);

    @include tablet.tablet{
        padding-block: 2.4rem;
    }
    
    
    .toggle{
        width: var(--pos-y);
        height: var(--pos-y);
        position: absolute;
        @include mixins.flexDisplay(center,center,column);
        padding-inline: .8rem;
        cursor: pointer;
        background: var(--secondary-color);
        border-radius: 1rem;
        left: 1.6rem;
        
        span{
            width: 80%;
            height: .4rem;
            background: var(--tertier-color);
            border-radius: 2rem;
            position: absolute;
            transition: all .6s;

            &:first-child{
                transform: translateY(-200%) rotate(0);
            }
            &:nth-child(2){
                width: 65%;
                transform: scaleX(1);
                opacity: 1;
            }
            &:last-child{
                transform: translateY(200%) rotate(0);
            }
        }

        &.isActive{
            span{
                &:first-child{
                    transform: translateY(0) rotate(45deg);
                }
                &:nth-child(2){
                    transform: scaleX(0);
                    opacity: 0;
                }
                &:last-child{
                    transform: translateX(0) rotate(-45deg);
                }
            }
        }
    }

    .logo{
        position: relative;
        width: 6rem;
        height: calc(var(--pos-y) - 1.6rem);
        @include mixins.flexDisplay(center,center,column);
    }
    
}   